
* { padding: 0; 
    margin: 0; 
    font-family: Helvetica Neue;
}

body { 
    background-color: #e5e5ff; 
}

h1{
    color: #ffb3b3;
    font-size: 34px;
}

p { 
    color: #4d0000;  
    font-size: 20px; 
    line-height: 20px; 
    margin-bottom: 10px; 
    -webkit-font-smoothing: antialiased; 
}

a { 
    color: #4d0000; 
    font-weight: bold; 
    text-decoration: none; 
    border-bottom: 1px solid rgba(255,255,255,0.3); 
}

a:hover { 
    border-bottom: 1px solid rgba(255,255,255,1); 
}

#about { 
    width: 390px; 
    padding: 50px 0 0 10px; 
    margin: 25px 900px 0 auto !important; 
}

@media (max-width: 767px) {
    #about { 
        position: relative; 
        width: auto; 
        padding: 20px; 
        margin: 0 !important; 
        }
    background-image { 
        opacity: 0.2; 
        }
}