
* { 
    font-family: Helvetica Neue;
}

body { 
    background-color: #9b989d; 
}

h1{
    color: #1e2154;
    font-size: 34px;
    margin-bottom: -20px;
}

p { 
    color: #fff;  
    font-size: 20px; 
    line-height: 24px; 
    margin-bottom: 10px; 
    -webkit-font-smoothing: antialiased; 
}

a { 
    color: #7ff2c7; 
    font-weight: bold;
}

a:hover { 
    border-bottom: 1px solid rgba(255,255,255,1); 
}

#about { 
    width: 400px; 
}